*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

/* Nav */

.navWrapper{
    width: 100vw;
    height: 87px;
    background: rgba(255, 169, 2, 0.75);
    border: 1px solid #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
}
.navBox1{
    display: flex;
    width: 30%;
    /* width: 25vw; */
    justify-content: space-around;
}
.navBox2{
    width: 40%;
    /* width: 50vw; */
    display: flex;
    justify-content: space-around;
}
.navBox3{
    width: 30%;
    /* width: 25vw; */
    display: flex;
    justify-content: space-around;
}
.navLogo{
    width: 50px;
    height: 50px;
    /* width: 2.5vw;
    height: 9vh; */
}
.ownerName{
    font-size: 26px;
    font-weight: bolder;
    /* font-size: 1.9vh; */
    line-height: 21px;
    /* line-height: 9vh; */
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    margin: 0 -50px;
}
.navPipe{
    width: 53.01px;
    /* width: 2.8vw; */
    border: 1px solid #000000;
    transform: rotate(
90.47deg
);
    align-self: center;
}
.navUl{
    display: flex;
    /* width: 40vw; */
    width: 770px;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.9vh; */
    font-size: 18px;
    line-height: 21px;
    /* line-height: 2.5vh; */
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    list-style: none;
}
.navUl li{
    width: 25vw;
    text-align-last: center;
}
.navUl li:hover{
    color: rgb(255 255 255);
    cursor: pointer;
}
.navStorage{
}
/* .navStorage:hover .navDropdown{
    display: block;
    position: absolute;
    margin-top: 30px;
}
.navDropdown{
    display: none;

} */
.navSnableA{
  
    width: 30px;
    height: 20px;
    /* margin-left: -100px; */
    /* margin-left: -5.3vw; */
    /* margin-right: 0.5rem; */
    /* background: aqua; */
    margin-bottom: -5px;

}
.navSnableA:hover{
    cursor: pointer;
    color: rgb(255 255 255);
}
.navMailAdress{
        height: 25px;
        /* height: 4vh; */
        height: 100%;
        text-decoration: none;
        font-size: 18px;
        /* font-size: 1.9vh; */
        color: #000000;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        margin-left: -75px;
        /* margin-left: -4vw; */
        align-self: center;
}
.navMailAdress:hover{
    color: rgb(255 255 255);
    cursor: pointer;
}

/* Booking */

.cover{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100
}
.bookingWrapper{
    width: 25%;
    /* width: 25vw; */
    height: 602px;
    /* height: 71.6vh; */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-inline: auto; */
    position: absolute;
    top: 10%;
    /* top: 18vh; */
    left: 37.9%;
    /* left: 37.9vw; */
}
.bookingWrapper span{
    width: 14.8vw;
}
.bookingWrapper select{
    width: 14.8vw;
}
.bookingClose{
    color: white;
    background-color: rgb(234 155 0);
    height: 6%;
    /* height: 5.6vh; */
    width: 8%;
    /* width: 2vw; */
    border-radius: 50%;
    text-align: center;
    align-self: flex-end;
    font-size: 28px;
    /* font-size: 4.3vh; */
    margin-right: 5%;
    /* margin-right: 1.3vw */
}
.bookingClose:hover{
    cursor: pointer;
    background-color: rgb(255 169 2 / 50%);
}
.bookingH2{
    /* width: 148px; */
    /* width: 10.5vw; */
    font-size: 22px;
    /* font-size: 2.6vh; */
    color: #FFFFFF;
}
.bookingStartDate{
    /* width: 212px; */
    width: 14.8vw;
    color: white;
    font-size: 14px;
    /* font-size: 1.7vh; */
}
.bookingStartDate input{
    /* width: 100%; */
    width: 14.8vw;
}
.bookingMessage{
    /* width: 212px; */
    width: 14.8vw;
    height: 173px;
    /* height: 20.5vh; */
}

/* Hero */

.heroWrapper{
    width: 100vw;
    height: 600px;
    /* height: 90vh; */
    background-image: url(./img/flytt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.heroContentContainer{
    height: 100%;
    width: 100%;
    /* height: 90vh; */
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 5rem;
}
.heroLogo{
    color: rgba(255, 255, 255, 0.75);
    height: 40%;
    /* height: 37vh; */
    font-size: 100px;
    /* font-size: 15vh; */
}
.heroH1{
    height: 45%;
    /* height: 41.5vh; */
    font-size: 44px;
    /* font-size: 4.8vh; */
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}
.heroH2{
    height: 8%;
    /* height: 7.5vh; */
    font-size: 36px;
    /* font-size: 3.8vh; */
    color: rgba(255, 255, 255, 0.75);
}
.heroArrow{    
    height: 7%;
    /* height: 6.5vh; */
    font-size: 25px;
    /* font-size: 3vh; */
    color: rgba(255, 255, 255, 0.75);
    margin-right: 5px;
    /* margin-right: 0.35vw; */
    margin-top: 1rem;
}

/* FirstSection, SmallSection, MediumSection, BigSection */

.firstSectionWrapper, 
.smallSectionWrapper,
.mediumSectionWrapper,
.bigSectionWrapper{
    width: 100%;
    height: 550px;
    /* height: 48vh; */
    /* width: 100vw; */
    background: rgba(255, 169, 2, 0.75);
    border: 1px solid #000000;
    display: flex;
    text-align: center;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 3rem 0rem;
}
.smallSectionWrapper,
.bigSectionWrapper{
    background: rgba(255, 255, 255, 0.75);
}
.firstSectionContainer, 
.mediumSectionContainer, 
.smallSectionContainer{
    /* height: 100%; */
    width: 33.3%;
    /* width: 100vw; */
}
.bigSectionContainer{
    /* height: 100%; */
    width: 33%;
    /* width: 50vw; */
}
.firstSectionH3,
.smallSectionH3,
.mediumSectionH3,
.bigSectionH3{
    font-size: 26px;
    /* font-size: 4vh; */
    line-height: 30px;
    /* line-height: 4.6vh; */
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 10%;
    /* height: 4.7vh; */
}

.bigSectionH3{
    margin-top: -4rem;
    padding-top: 3rem;
}

.firstSectionImgSmall, 
.smallSectionImgSmall{
    height: 55%;
    /* height: 26.2vh; */
    margin-bottom: 5%;
    /* margin-bottom: 4.9vh; */
}
.smallSectionImgSide{
    height: 55%;
    /* height: 26.2vh; */
    margin-bottom: 5%;
    margin-top: 5%;
    /* margin-bottom: 4.9vh; */
    /* margin-top: 4.9vh; */
}
.firstSectionImgMedium,
.firstSectionImgBig,
.mediumSectionImgCenter{
    height: 65%;
    /* height: 31vh; */
}
.bigSectionImgSide{
    height: 75%;
    /* height: 35.7vh; */
}
.mediumSectionImgSide{
    height: 65%;
    /* height: 31vh; */
    margin-top: 5%;
    /* margin-top: 4.9vh; */
}
.firstSectionP,
.smallSectionP,
.mediumSectionP,
.bigSectionP{
    font-size: 20px;
    /* font-size: 3vh; */
    height: 10%;
    /* height: 4.8vh; */
}

/* Questions */

.questionsWrapper{
     /* /* width: 100%; */
     height: 500px;
     /* height: 47.7vh; */
     background: rgba(198, 198, 198, 0.75);
     border: 1px solid #000000;
     display: flex;
     text-align: center;
     text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
     padding: 3rem 0rem 3rem 6rem; 
}
.infoWrapper,
.infoPoppersWrapper,
.footerWrapper{
    /* /* width: 100%; */
    height: 400px;
    /* height: 47.7vh; */
    background: rgba(198, 198, 198, 0.75);
    border: 1px solid #000000;
    display: flex;
    text-align: center;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 3rem 0rem;
}
.questionsH3,
.infoH3{
    font-size: 26px;
    /* font-size: 4vh; */
    line-height: 30px;
    /* line-height: 4.7vh; */
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 10%;
    /* height: 4.7vh; */
    color: #4e4e4e;
}
.questionsUl{
    height: 100%;
    width: 20%;
    /* height: 47.4vh; */
    /* width: 19.8vw; */
    margin-left: 2%;
    /* margin-left: 2vw; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    /* font-size: 3.7vh; */
    margin-top: 1%;
    /* margin-top: 2.9vh; */
}

/* Info */

.infoWrapper{
    display: block;
    padding: 1rem 0rem;
}
.infoP{
    /* height: 100%; */
    width: 85%;
    /* width: 85vw; */
    margin: auto;
    font-size: 20px;
    /* font-size: 3.1vh; */
    line-height: 30px;
    /* line-height: 4.7vh; */
    margin-top: 0.7%;
    margin-bottom: 0.7%;
    /* margin-top: 3vh; */
}

/* InfoPoppers */

.infoPoppersWrapper{
    background-color: rgba(255, 169, 2, 0.75);
    flex-direction: column;
}
.infoPoppersH3{
    font-size: 26px;
    /* font-size: 4vh; */
    line-height: 30px;
    /* line-height: 4.7vh; */
    height: 10%;
    /* height: 5vh; */
}
.infoPoppersContainer{
    height: 90%;
    /* width: 100%; */
    /* height: 57.3vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.infoPoppersBox{
    height: 75%;
    width: 100%;
    /* width: 100vw; */
    /* height: 31.7vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.infoPoppersEllipse{
    height: 50px;
    width: 50px;
    /* width: 2.6vw; */
    /* height: 5vh; */
    background-color: black;
    border-radius: 50%;
    align-self: center;
}
.infoPoppersIcon{
    height: 30px;
    width: 30px;
    /* height: 3.1vh; */
    /* width: 3.1vh; */
    color: white;
    margin: 20%;
}
.infoPoppersP{
    font-size: 20px;
    /* font-size: 3vh; */
    width: 56%;
    /* width: 18vw; */
    align-self: center;
    font-weight: 600;
}

/* Footer */

.footerWrapper{
    background: rgba(0, 0, 0, 0.75);
    justify-content: space-evenly;
    align-items: center;
}
.footerBox{
    height: 100%;
    width: 33.3%;
    /* height: 47.5vh; */
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footerBox a{
    text-decoration: none;
}
.footerP{
    color: rgba(255, 169, 2, 0.75);
    font-size: 18px;
    /* font-size: 2vh; */
    line-height: 21px;
    /* line-height: 3.5vh; */
}
.footerP:hover{
    cursor: pointer;
    color: rgba(255, 169, 2, 1);
}
.footerH3{
    font-size: 26px;
    /* font-size: 4vh; */
    line-height: 30px;
    /* line-height: 4.7vh; */
    font-weight: normal;
    color: white;
}
.footerSnabel{
    color: rgba(255, 169, 2, 0.75);
    font-size: 30px;
    /* font-size: 4.6vh; */
}
.footerInput{
    /* width: 212px; */
    width: 14.8vw;
    height: 21px;
    /* height: 3.2vh; */
}
.footerTextArea{
    /* width: 212px; */
    height: 77px;
    width: 14.8vw;
    /* height: 12vh; */
}
.footerCopywright{
    font-size: 10px;
    /* font-size: 1.6vh; */
    line-height: 12px;
    /* line-height: 1.9vh; */
    color: rgba(255, 169, 2, 0.75);
}
/* .footerContainerRight{

} */
.footerBoxRight{
    width: 60%;
    /* width: 19.8vw; */
    display: flex;
    align-items: center;
}
.footerLogo{
    color: rgba(255, 169, 2, 0.75);
    height: 25px;
    /* height: 4vh; */
    width: 25px;
    /* width: 1.3vw; */
    margin-right: 5%;
    /* margin-right: 1vw; */
}
.footerLogo:hover{
    cursor: pointer;
    color: rgba(255, 169, 2, 1);
}

/* Btn */

.btn,.btn2{
    background-color: rgba(255, 169, 2, 0.75);
    width: 135px;
    /* width: 10vw; */
    height: 29px;
    /* height: 3.4vh; */
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    /* font-size: 1.8vh; */
    color: #fff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.btn2{
    height: 10%;
    /* height: 4.8vh; */
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.btn:hover{
    background-color: rgba(255, 169, 2, 0.5);
    cursor: pointer;
}
.btn2:hover{
    background-color: rgb(234 155 0);
    cursor: pointer;
}
